*
{
    margin: 0;
    padding: 0;
    
}

body
{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}

h1
{
    height: 40vh;
    display: flex;
    align-items: center;
    text-align: center;


}

#calc-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
    background-color: black;
    width: 400px;

}

input
{
    height: 50px;
    font-size: 24px;
    overflow-x: scroll;

}


.calc-btns
{
    display: flex;
}

.num, .pad-item, .operand
{
    width: 100px;
    height: 100px;
    font-size: 15px;
}