*
{
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}

h1
{
    height: 40vh;
    display: flex;
    align-items: center;
    text-align: center;


}

#calc-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
    background-color: black;
    width: 250px;

}

input
{
}


.calc-btns
{
    display: flex;
}



.num, .pad-item, .operand
{
    width: 50px;
    height: 50px;
}