*
{
    margin: 0;
    padding: 0;
    
    
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

}



#calc-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
    background-color: black;
    width: 500px;

}

input
{
    height: 75px;
    font-size: 24px;
    overflow-x: scroll;

}



#calc-buttons
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bot-buttons
{
    display: flex;
}

.bot-buttons button
{
    width: 125px;
    height: 125px;

}

.equal
{
    background-color: orange;
}

.operand
{
    font-weight: bold;
    font-size: 20px;
}

button{
    width: 100px;
    height: 100px;
    font-size: 15px;
    border: none;
    transition: background-color 0.3s ease-in-out;

}

button:hover 
{
    background-color: #CCCCCC;

}